@page
@model HetKoudeFrietjeCafeteria.Pages.FoodManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Producten</h1>

<p>
    <a asp-page="Create">Nieuw Product aanmaken</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th>
                Beschrijving
            </th>
            <th>
                  
            </th>
            <th>
                Prijs
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Food) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasePrice)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FoodID">Wijzigen</a> |
                <a asp-page="./Details" asp-route-id="@item.FoodID">Info</a> |
                <a asp-page="./Delete" asp-route-id="@item.FoodID">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
